@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --green: #198754;
    --info-color: #0dcaf0;
    --yellow: #ffc107;
    --red: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --white-color: #fff;
    --black-color: #000;
    --background-color: #fff;
		--headColor2:#AABF5E;
    --header-color:#353c1c;
		--button: linear-gradient(354deg, rgba(170, 191, 94, 1) 0%, rgba(87, 199, 133, 1) 100%);
	  --button-hover: linear-gradient(180deg, rgba(170, 191, 94, 1) 0%, rgba(87, 199, 133, 1) 100%);
		--border:#AABF5E;
}
*, ::before, ::after{
	margin:0;	
}
html, body{
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--background-color);
}
.box-sizing-content{
	box-sizing: content-box;
}
a{
	text-decoration: none;
  color:var(--white-color);
}
#topHeader{
	background-color: var(--header-color);
}
#topHeader h1{
	font-size:31px;
	color:#fff;	
}
address{
	margin-bottom: 0 !important;
}
address i{
	margin-right:10px;
}
h3{
	font-size: 27px;
	margin-bottom:15px;
}
p, img[alt]{
    color:var(--black-color);
}
header {
    padding: 15px;
    box-sizing: border-box;
    background-color: #AABF5E;
}
header a{
	color:var(--white-color);
	text-decoration: none;
}
header.logo{
	justify-self: start;
	max-width:200px;
}
#navlist{
	gap:35px;
	list-style-type: none;   
	margin-bottom:0;
}
.iconSection{
	margin-left:25px;
	gap:20px;
}
.socialMedia{
	gap:20px;
	margin-left:20px;
}
.socialMedia a, address {
	color:#fff;	
}
.hero {
	position: relative;
}
.heroContent{
	position: absolute;
	top:40%;
	font-size:35px;
	left:calc(15% - 6px);
}
.heroContent p{
	color:#fff;
}
.heroContent button{
	padding:8px 20px;
	font-size:15px;
background: #AABF5E;
background: var(--button);
	border:none;
	border-radius: 5px;
	margin-top:15px;
	cursor: pointer;
}
.heroContent button:hover{
	background: #AABF5E;
	background: var(--button-hover);
}
.bodyContainer {
	display:grid;
	max-width: 1800px;
	margin: 0 auto;
}
section{
	gap:35px;
	margin-top:20px;
	max-width:1750px;
	margin:0 auto;
}
.divider::before {
	content: "";
	display: block;
	width: 100%;
	height: 240px; /* adjust as needed */
	/* background-image: url('../../images/dividers/border-divider.svg');	 */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.divider{
}
#aboutUs{
		background-color:#0378A6;
}
.yellow{
	color: var(--yellow);
}
.red{
	color: var(--red);
}
.green{
	color: var(--green);
}
.wrapperHead{
	font-size: 35px;
	margin:25px 0;
	text-transform: capitalize;
	border-bottom:2px solid #AABF5E;
	color:var(--headColor2);
}
.wrapperWidth{
	max-width: 1750px;
	margin: 0 auto;
}
.cardContainer{
	gap: 20px;
	justify-items:center;
}
.cardContainer .card{
	max-width:450px;
	border:2px solid var(--border);
	padding:20px;
	align-items: flex-end;
}
.cardContent{
	height:250px;
}
.cardContent h3{
	margin-top:42px;
}
.cardContainer .cardButton{
	padding:5px 15px;
	color:var(--white-color);
	font-weight: bold;
	background:var(--button);
	border-radius: 5px;
	border:none;
}
.foodImage{
	max-width:650px;
}
.menuItem{
	max-width:500px;
}
.testimonial{
	display:none;
}
.testimonial.active{
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer{
	background:var(--secondary-color);	
	margin-top:55px;
}
.footerWrap{
	gap:25px;	
	justify-items:center;
	margin:0 auto;
	padding:25px 0 
}
.footerWrap ul{
	list-style-type: none;	
	gap:25px;
	align-items: center;
	padding-left:0;	
}

.bottomFooter, .topFooter{

}
.footerWrap ul li a{
	color:#000;	
}
.bottomFooter .bottomFootLeft, .bottomFootRight{

}
.bottomFootRight{

}
.bottomFootRight ul{
	margin-left:35px;
}
.innerWrapper{
	gap: 55px;
}